#!/usr/bin/make -f

%:
	dh $@

override_dh_makeshlibs:
	dh_makeshlibs -plibgplugin0
	dh_makeshlibs -plibgplugin-gtk0

override_dh_strip:
	dh_strip -plibgplugin0 --dbg-package=libgplugin0-dbg
	dh_strip -plibgplugin-gtk0 --dbg-package=libgplugin-gtk0-dbg
	dh_strip

